
<div class="row">
	<div class="span6" id="tasks">
		<h2>Incomplete</h2>
		<div class="tasks" id="incomplete_tasks">
		  <%= render @incomplete_tasks %>
		</div>
		<%= link_to "New Task", new_task_path, class: "btn btn-primary", id: "new_link", remote: true %>
	</div>

	<div class="span6">
		<h2>Complete</h2>
		<div class="tasks" id="complete_tasks">
		  <%= render @complete_tasks %>
		</div>
	</div>
</div>
