<div class="nav navbar-fixed-top">
	<ul class="nav navbar-nav" >
		<li><%= link_to "Blog", posts_path %></li>
		<li><%= link_to "TO-DO", tasks_path %></li>
		<li><%= link_to "About", "#" %></li>
		<li><%= link_to "Screenshots" %></li>
	</ul>
</div>